@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:ital,wght@1,200&family=Macondo&display=swap');
#div1 {
    position: relative;
}

#div1>a {
    cursor: pointer;
}

#div2 {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    height: 50vh;
    width: 80vh;
    float: left;
    background-color: transparent;
    z-index: 20;
    border-radius: 10px;
}

#div1:hover #div2 {
    display: inline-block;
}


#div3 {
    position: relative;
}

#div3>a {
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 2px;
    border-radius: 2px;
}

#div4 {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    height: 40vh;
    width: 70vh;
    float: left;
    background-color: transparent;
    z-index: 20;
    border-radius: 10px;
}

#div3:hover #div4 {
    display: inline-block;
}

/*footer*/
.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255, 255, 255, 1.00);

}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent;
}

.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
    font-size: x-large;
}

.footer-bs .footer-brand p {
    font-size: large;
    color: rgba(255, 255, 255, 0.70);
}

.footer-bs .footer-nav h4 {
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
    font-size: large;
}


.footer-bs .footer-nav ul.list a {
    color: rgba(255, 255, 255, 0.80);
}

.footer-bs .footer-nav ul.list a:hover {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
}



.footer-bs .footer-nav ul.accountsLink {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.accountsLink li {
    padding: 5px 0px;
    font-size: large;
}


.footer-bs .footer-nav ul.accountsLink a {
    color: rgba(255, 255, 255, 0.80);
}

.footer-bs .footer-nav ul.accountsLink a:hover {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-ns p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

@media (min-width: 768px) {

    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.10);
    }
}
#sidebar {
    background-color: #34285e;
    width: 100%;
    height: 650px;
}

#sidebar h3 {
    color: white;
    text-align: center;
    padding-left: 3%;
    padding-top: 13%;
}

.sidebar-header {
    border-bottom: 1px solid #867bac;
    height: 20%;
}

#sidebar ul p {
    color: white;
    padding-left: 3%;
    padding-top: 7%;
    padding-bottom: 7%;
    border-bottom: 1px solid #867bac;
}

#sidebar ul li {
    padding-left: 3%;
    padding-top: 7%;
}


#sidebar ul a {
    color: white;
}

#sidebar ul a:hover {
    color: rgb(154, 151, 151);
}

.table {
    border: 2px solid black;
    border-radius: 10px;
}

.tables h3 {
    padding-top: 5%;
    padding-bottom: 3%;
}

.overview td {
    height: 70px;
    padding-top: 15px;
    background-color: red;

}

.sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #352961;
    transition: 0.4s;
}

.sidenav ul li a {
    color: white;
}


.container-1 {
    border-bottom: 1px solid rgb(214, 206, 206);
}

.container-1 h3 {
    margin-bottom: 20px;
}

table,
tr {
    border-bottom: 2px solid black;
}

table,
tr,
th {
    padding-right: 150px;
    padding-bottom: 10px;

}

table,
tr,
td {
    padding-right: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.heading th {
    background-color: #34285e;
    color: white;
    font-weight: 900;
}

.container-2 .footer {
    margin-left: 200px;
}

.stats {
    height: 100%;
}

.stats .card {
    margin-top: 3;
    width: 25%;
    height: 100%;
}
form{
    margin:4%; 
    width: 80%;
}
input{
    height: 40px;
    width: 100%;
    margin-top: 15px;
    border-radius: 7px 7px 7px 7px; border: 1.5px solid rgb(216, 212, 212);
}

form .field.shake{
    animation: shake 0.3s ease-in-out infinite;
}
@keyframes shake{
    0%,100%{
        margin-left: 0px;
    }
    20%,80%{
        margin-left: -12px;
    }
    40%,60%{
        margin-left: 12px;
    }
}
