@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:ital,wght@1,200&family=Macondo&display=swap');
/* Navbar */

body{
    background-color: aliceblue;
}

.navbar {
    font-family: 'Josefin Sans', sans-serif;
}

.nav-item {
    font-size: 25px;
    margin-right: 15%;
}



#div1 {
    position: relative;
}

#div1>a {
    cursor: pointer;
}

#div2 {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    height: 50vh;
    width: 80vh;
    float: left;
    background-color: transparent;
    z-index: 20;
    border-radius: 10px;
}

#div1:hover #div2 {
    display: inline-block;
}


#div3 {
    position: relative;
}

#div3>a {
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 2px;
    border-radius: 2px;
}

#div4 {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    height: 40vh;
    width: 70vh;
    float: left;
    background-color: transparent;
    z-index: 20;
    border-radius: 10px;
}

#div3:hover #div4 {
    display: inline-block;
}


/*bg image*/

.bg-img {
    background-image:url('../images/laptop.jpg'); background-position: center; 
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;

}


#accountImage {
    height: 20%;
}

#serviceImage {
    height: 20%;
}

.service-icon {
    background-color: #fff;
    color: #1D809F;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.listItems a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
}


/*footer*/
.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255, 255, 255, 1.00);

}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent;
}

.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
    font-size: x-large;
}

.footer-bs .footer-brand p {
    font-size: large;
    color: rgba(255, 255, 255, 0.70);
}

.footer-bs .footer-nav h4 {
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
    font-size: large;
}


.footer-bs .footer-nav ul.list a {
    color: rgba(255, 255, 255, 0.80);
}

.footer-bs .footer-nav ul.list a:hover {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
}



.footer-bs .footer-nav ul.accountsLink {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.accountsLink li {
    padding: 5px 0px;
    font-size: large;
}


.footer-bs .footer-nav ul.accountsLink a {
    color: rgba(255, 255, 255, 0.80);
}

.footer-bs .footer-nav ul.accountsLink a:hover {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-ns p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

@media (min-width: 768px) {

    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.10);
    }
}